body
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
}
h1
{
    color: green;
}
#container
{
    margin-top: 15%;
}
#footer
{
    margin-top: 27%;
    color: blue;
}