body
{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: palevioletred;
    background-color: whitesmoke;
}
h1
{
    color: green;
}
#container
{
    margin-top: 15%;
}
#footer
{
    background-color: rgb(233, 36, 141);
    margin-top: 26%;
    color: wheat;
    height: 1cm;
    right: 8cm;
    left: 8cm;
}